body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
    margin: 0 auto;
}

a {
    color: #00B7FF;
}

#top {
    width: 100%;
    margin: 0 auto;
    background: cyan;
    height: 120px
}

#top h1 {
    text-align: center;
    padding-top: 20px
}

#top h2 {
    float: right;
    margin-right: 50px;
    margin-top: 70px;
}

table {
    border: 0px
}

#content {
    width: 100%;
    background: #F0F8FF;
    height: auto;
    position: absolute;
}

#image {
    width: auto;
    position: static;
    margin-top: 90px;
}

td {
    text-align: center;
    width: auto;
}

#date {
    position: absolute;
    right: 3%;
    top: 10px;
    height: auto;
    width: auto;
}

#hide {
    position: static;
    margin-top: 100px;
}