<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>图片上传测试</title>
</head>
<body>


<h1>图片上传测试</h1>

<form method='post' action="p" enctype="multipart/form-data">
    <input name="command" value="uploadPic" type="hidden" />
    <!--<input name="name" type="text" id="name"/>-->
    <select name="name" id="name" >
        <option value="王军">王军</option>
        <option value="吴">吴</option>
        <option value="云">云</option>
        <option value="马">马</option>
        <option value="曹">曹</option>
    </select>
    <br />
    <input name="pic" type="file" id="pic" />
    <input type="submit" value="提 交" name="submit1" id="submit1">
</form>

</body>
</html>