<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>图片上传测试</title>
</head>
<body>


<h1>图片上传测试</h1>

<form method='post' action="p" enctype="multipart/form-data">
    <input name="command" value="uploadPic" type="hidden" />
    <input name="name" type="text" id="name" />
    <br />
    <input name="pic" type="file" id="pic" />
    <input type="submit" value="提 交" name="submit1" id="submit1">
</form>

</body>
</html>